<?xml version="1.0"?>
<launch>
  <arg name="ns" default="telemax"/>
  <group ns="$(arg ns)">
    <node name="iop_client_stabilizer_driver" pkg="iop_component_fkie" type="iop_component">
        <param name="capability_group" value="iop_bridge"/>
        <param name="iop_address" value="150.64.200"/>
        <param name="name_node" value="control_client"/>
        <rosparam param="services">
          [
            iop_transport_fkie: "Transport",
            iop_events_fkie: "EventsClient",
            iop_discovery_fkie: "DiscoveryClient",
            iop_accesscontrol_fkie: "AccessControlClient",
            iop_management_fkie: "ManagementClient",
            iop_client_stabilizer_driver_fkie: "StabilizerDriverClient",
          ]
        </rosparam>
        <param name="register_own_services" value="false" />
        <param name="enable_ros_interface" value="true"/>
        <rosparam param="joint_names">[actuator_0_joint, actuator_1_joint, actuator_2_joint, actuator_3_joint]</rosparam>
        <remap from="joint_states" to="joint_states"/>
        <remap from="cmd_joint_velocities" to="~cmd_joint_velocities"/>
        <remap from="flipper_velocity_controller/command" to="~flipper_velocity_controller/command"/>
    </node>
  </group>
</launch>
